@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap&subset=latin-ext');
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-attachment: fixed;
  background-image: url('../assets/img/background.jpg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  height: 100vh;
  @media (min-width: $tablet) { font-size: 18px; }
}

.main {
  align-items: center;
  background-color: rgba(0,0,0,0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  @include free-space;
  @media (min-width: $tablet) { @include free-space-tablet; }
  @media (min-width: $laptop) { @include free-space-laptop; }
  &--change-color {
    background-color: rgba(33,150,243,0.85);
  }
}

.navbar {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  @include free-space;
  @media (min-width: $tablet) { @include free-space-tablet; }
  @media (min-width: $laptop) { @include free-space-laptop; }

  &__item {
    height: 100%;
    &--logo {
      margin-right: 30px;
      &-change-color {
        path.circle {fill:#fff;};
        path.letter {fill: #42A5F5;}
      }
    }
    &--buttons {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
  &--add-background {
    background-color: rgb(33,150,243);
    @media (min-width: $tablet) { background: none; }
  }
}

.button {
  font-size: 1.5rem;
  :focus { outline: none; }
  &__search, &__menu {
    background-color: rgba(0,0,0,0);
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
  }
  &__search {
    display: none;
    @media screen and (min-width: $tablet) { display: initial; }
  }
}

.header {
  text-align: center;
  @media (min-width: $tablet) { line-height: 1.4em; }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    @media (min-width: $tablet) { font-size: 2rem; }
  }

  &--hide { display: none; }
}

.content {
  align-items: center;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: scroll;
  padding-top: 75px;
  width: 100%;
  @media (min-width: $tablet) {
    flex-direction: row;
    height: 70vh;
    justify-content: space-between;
    padding-top: 0;
  }
  &--visible { display: flex; }
}

.menu {
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase;
  @include reset-list;
  &__item {
    cursor: pointer;
    white-space: nowrap;
    &--offer, &--articles, &--contact {
      &::after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f0fe';
        padding-left: 15px;
      }
    }
    &--open::after {
      content: '\f067';
    }
  }
  @media (min-width: $tablet) {
    line-height: 60px;
    padding-right: 40px;
  }
}

.essence {
  align-self: flex-start;
  font-size: 1rem;
  font-weight: 300;
  flex-grow: 2;
  &__header {
    font-size: 2em;
    letter-spacing: 0.08em;
    margin-bottom: 1.8em;
    position: relative;
    &::after {
      content: '';
      border: 1px;
      border-bottom-style: solid;
      width: 100%;
      bottom: -15px;
      position: absolute;
      left: 0;
      border-color: rgba(255,255,255,0.4);
    }
  }
  &__item {
    display: none;
  }
}

.offer {
  &__items {
    display: flex;
    flex-wrap: wrap;
    @include reset-list;
  }
  &__item {
    align-self: flex-start;
    border: 1px solid $blue;
    box-sizing: content-box;
    line-height: 1.5em;
    margin: 5px;
    padding-top: 23%;
    position: relative;
    width: 23%;
    span {
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 95%;
    }
    &:hover { background-color: rgba(255,255,255,0.4); }
  }
  &--visible { display: block; }
}

.articles {
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include reset-list;
  }
  &__item {
    padding: 1em 0;
    width: 50%;
    &::after {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f061';
      padding-left: 15px;
    }
  }
  &--visible { display: block; }
}

.contact {
  &--visible { display: block; }
}